body {
  font-family: "Overpass", sans-serif;
  background-color: hsl(216, 12%, 8%);
}
.container {
  background-color: #1e252f;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.5rem 1rem 0.5rem 1rem;
  border-radius: 10%;
  width: 300px;
  height: 300px;
}
.form-card {
  display: contents;
}
.star-img {
  background-color: #282e34;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
}
.star-img img {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form-card h2 {
  color: white;
  margin-bottom: 0.5rem;
}
.form-card p {
  color: hsl(217, 12%, 63%);
  font-size: 13px;
  margin-top: 0;
}

.form-card button {
  background-color: #282e34;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 100%;
  color: hsl(217, 12%, 63%);
  font-size: 15px;
  border: none;
}
.form-card button:hover {
  color: white;
  background-color: hsl(25, 97%, 53%);
  cursor: pointer;
}
.ratings {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0 1rem 0;
}

.form-card .submit {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: hsl(25, 97%, 53%);
  color: white;
  font-size: 15px;
  border: none;
  font-family: "Overpass", sans-serif;
  border-radius: 2rem;
  margin: 2rem 0 0 0;
  padding: 0.5rem 0;
  width: 95%;
}
.form-card .submit:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}

.thanks-card {
  display: none;
  text-align: center;
}
#thanks-rating {
  display: flex;
  justify-content: center;
  margin: 1.5rem;
}
#thanks-rating p {
  color: hsl(25, 97%, 53%);
  background-color: #282e34;
  margin: 0;
  border-radius: 2rem;
  width: 200px;
}
.thanks-card h2 {
  color: white;
  margin: 0 0 0.5rem 0;
}
.thanks-card p {
  color: hsl(217, 12%, 63%);
  font-size: 15px;
  margin-top: 0;
}
